<header class="main-header">
    <nav data-open="false">
        <div class="logo">
            <img src="media/Montana-Diamond-White.webp" alt="">
        </div>
        <div class="mobile-nav">
            <img src="media/icons/menu-alt-05-svgrepo-com.svg" alt="" class="open">
            <img src="media/icons/close-svgrepo-com.svg" alt="" class="close">
        </div>
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#about-us">About Us</a></li>
            <li><a href="#our-offers">Our Offers</a></li>
            <li><a href="#video">Video Tour</a></li>
        </ul>
    </nav>

    <div class="hero-content">
        <h1>Montana Resort</h1>
        <p>Unlock to enjoy the view of Martine</p>
    </div>
</header>